<!-- <button class="btn" (click)="onClickBack()">&leftarrow;</button> -->
<img
    src="../../../../../../assets/buttons/icon_back.png"
    class="back-btn"
    (click)="onClickBack()"
/>
<button
    class="confirm-btn"
    type="submit"
    [disabled]="!addCardViewModel.cardForm.valid"
    (click)="onSubmit()"
></button>
<h1>WALLET RUNNER</h1>
<form [formGroup]="addCardViewModel.cardForm">
    <ng-template appRef></ng-template>
    <p>ДОБАВЛЕНИЕ НОВОЙ КАРТЫ</p>
    <br />
    <label for="storesSelect">ВЫБЕРИТЕ МАГАЗИН</label>
    <br />
    <select name="stores" id="storesSelect" formControlName="store" [(ngModel)]="selectedOptions">
        <option *ngFor="let store of stores" [value]="store">
            {{ store }}
        </option>
    </select>
    <br />
    <div [paintCard]="selectedOptions" class="card"></div>
    <br />
    <label for="barcode">ШТРИХКОД</label>
    <br />
    <p id="barcode">PLACEHOLDER</p>
    <br />
    <button (click)="onStartScan()">NOT IMPLEMENTED</button>
    <br />
    <label for="num">НОМЕР КАРТЫ</label>
    <br />
    <input id="num" type="number" formControlName="cardNumber" />
</form>
