* {
    text-align: center;
}

.btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: x-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
