<div class="container">
    <button class="btn back" (click)="onClickBack()"></button>
    <h1>WALLET RUNNER</h1>
    <button class="btn menu-btn edit" (click)="onRedactCard()"></button>
    <button
        class="btn menu-btn empty-star"
        (click)="onChangeFavourites()"
        *ngIf="!card.isFavorite"
    ></button>
    <button
        class="btn menu-btn filled-star"
        (click)="onChangeFavourites()"
        *ngIf="card.isFavorite"
    ></button>
    <button class="btn menu-btn delete" (click)="onDeleteCard()"></button>
    <ng-template appRef></ng-template>
    <div>
        <div [paintCard]="card.title" class="card"></div>
        <img id="barcode" class="barcode" />
        <br />
        <br />
        <div class="card-number">
            <label>НОМЕР КАРТЫ</label>
            <input value="{{card.cardNumber}}" readonly />
        </div>
    </div>
</div>
