<button class="btn" (click)="onClickBack()">&leftarrow;</button>
<button
    class="btn menu-btn"
    type="submit"
    [disabled]="!storeForm.valid"
    (click)="onSubmit()"
>
    &#10004;
</button>
<div>
    <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
        <h1>WALLET RUNNER</h1>
        <label for="storesSelect">ВЫБЕРИТЕ МАГАЗИН</label>
        <select name="stores" id="storesSelect" formControlName="store">
            <option *ngFor="let store of stores" [ngValue]="store">{{ store }}</option>
        </select>
    </form>
    <br />
    <br />
    <canvas id="barcode"></canvas>
    <br />
    <!-- <p>{{ card.num | split}}</p> -->
</div>
