@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #E9E9E9;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    background: #333333;
    color: #fff;
    border: none;
    cursor: pointer;
    // margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: xx-large;
    margin: 0.5rem;
}

.btn:hover {
    opacity: 0.8;
}

.form-control {
    display: block;
    margin-top: 0.3rem;
}

.card {
    margin: 0.7rem auto;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin: 1.2rem 0;
}

hr {
    margin: 0.5rem 0;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
